DATABASE_URL="postgresql://postgres:postgres@localhost:5432/hygienix?schema=public"
JWT_SECRET="hygienix-super-secret-key-2024"
JWT_EXPIRES_IN="7d"
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY="your-google-maps-api-key"
NEXT_PUBLIC_API_URL="http://localhost:3001"
API_URL="http://localhost:3001"
PORT=3001
NODE_ENV=development
